@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

@font-face {
	font-family: 'Pokemon';
	src: url('//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot');
	src: url('//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix')
			format('embedded-opentype'),
		url('//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2')
			format('woff2'),
		url('//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff')
			format('woff'),
		url('//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf')
			format('truetype'),
		url('//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon')
			format('svg');
}

/* =============================
    Color definitions
============================= */

:root {
	--normal: #a8a77a;
	--fire: #ee8130;
	--water: #6390f0;
	--electric: #f7d02c;
	--grass: #7ac74c;
	--ice: #96d9d6;
	--fighting: #c22e28;
	--poison: #a33ea1;
	--ground: #e2bf65;
	--flying: #a98ff3;
	--psychic: #f95587;
	--bug: #a6b91a;
	--rock: #b6a136;
	--ghost: #735797;
	--dragon: #6f35fc;
	--dark: #705746;
	--steel: #b7b7ce;
	--fairy: #d685ad;
	--poke-yellow: #ffcb05;
	--poke-blue: #3d7dca;
	--poke-navy: #003a70;
}

/* =============================
    Universal Selector
============================= */

*,
:after,
:before {
	box-sizing: border-box;
}

html {
	height: 100vh;
	background: linear-gradient(
			var(--poke-yellow),
			var(--poke-blue),
			var(--poke-navy)
		)
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#root {
	background-color: #fceaea;
	padding: 10%;
	padding-top: 2%;
	max-width: 80%;
	height: 100%;
	margin: 5% auto;
	border-radius: 10%;
	border: #000000 solid 2px;
	font-family: 'Poppins', sans-serif;
}

/* =============================
    Title Styles
============================= */

.title {
	text-align: center;
	font-size: 0.5rem;
	font-family: 'Pokemon', sans-serif;
	color: var(--poke-yellow);
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: var(--poke-blue);
	letter-spacing: 0.25rem;
	line-height: 1.5;
}
/* =============================
    Wrapper Styles
============================= */
.App.wrapper-column {
	margin: 0 auto;
}

.wrapper-row,
.wrapper-column {
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.wrapper-column {
	flex-direction: column;
}
/* =============================
    Text Styles
============================= */

h2,
h3 {
	text-align: center;
	background-color: #338d33d5;
	margin: 0;
	text-transform: uppercase;
	border: 1px solid #000000;
	border-radius: 5px;
}

h2 {
	padding: 1rem;
	font-size: 1.25rem;
}

h3 {
	padding: 0.5rem;
}

/* =============================
    Search Styles
============================= */
form {
	display: flex;
	margin: 5% 0;
}

.search input {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	resize: vertical;
	font-size: 0.1rem;
	resize: vertical;
}

.search button {
	padding: 12px 20px;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

/* =============================
    Overview Styles
============================= */

.overview {
	align-content: center;
	position: relative;
	margin-bottom: 5%;
}

.pokemon-number {
	font-size: 1.5rem;
	position: absolute;
	top: 0;
	right: 0;
}

.overview img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	max-width: 35%;
}

/* =============================
    Pokemon Type Styles
============================= */

.type {
	text-transform: capitalize;
	padding: 0.25rem;
	width: 100%;
	text-align: center;
	border: 1px solid #000000;
	border-radius: 5px;
}

.normal {
	background-color: var(--normal);
}

.fire {
	background-color: var(--fire);
}

.water {
	background-color: var(--water);
}

.electric {
	background-color: var(--electric);
}

.grass {
	background-color: var(--grass);
}

.ice {
	background-color: var(--ice);
}

.fighting {
	background-color: var(--fighting);
	color: #fafafa;
}

.poison {
	background-color: var(--poison);
	color: #fafafa;
}

.ground {
	background-color: var(--ground);
}

.flying {
	background-color: var(--flying);
}

.psychic {
	background-color: var(--psychic);
}

.bug {
	background-color: var(--bug);
}

.rock {
	background-color: var(--rock);
}

.ghost {
	background-color: var(--ghost);
	color: #fafafa;
}

.dragon {
	background-color: var(--dragon);
	color: #fafafa;
}

.dark {
	background-color: var(--dark);
	color: #fafafa;
}

.steel {
	background-color: var(--steel);
}

.fairy {
	background-color: var(--fairy);
}

/* =============================
    Media Queries
============================= */

@media (min-width: 275px) {
	.search input {
		font-size: 0.75rem;
	}
}

@media (min-width: 309px) {
	.search input {
		font-size: 1rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	.pokemon-number {
		font-size: 2rem;
	}
}

@media (min-width: 376px) {
	h2 {
		font-size: 2rem;
	}
	.title {
		font-size: 1rem;
	}
}

@media (min-width: 666px) {
	h2 {
		font-size: 2.5rem;
	}
	.title {
		font-size: 1.5rem;
	}
}

@media (min-width: 856px) {
	.title {
		font-size: 2rem;
	}
}
